@charset "UTF-8";

body {
	background-color: #FFFF00;
}

.title {
	position: relative;
	top: 200px;
	right: 200px;
	display: inline-block;
	vertical-align: middle;
	float: right;
	height: 100%;
	padding: 50px;
}


.main{
	position: relative;
	top: 200px;
	vertical-align: middle;
}

.button{
	position: relative;
	bottom: 100px;
	vertical-align: middle;
}
h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 70px;

  -webkit-text-fill-color: #FF6666; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #FF6666;
  
  vertical-align: middle;
  
}

.profileImage {
	border-radius: 50%;
	height: 200px; 
	width: 200px; 
	position: absolute;
 	top: 180px; 
 	right: 150px; 
}

.google {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 50px;
	float: right;
	top: 350px;
/* 	left: 300px; */
}


.google-button {
  position: relative;
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 2px 2px 0px 3px rgba(0,0,0,0.1);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  top: 70px;
  left: 120px;
  vertical-align: middle;
  
}

.google-button:hover {
    box-shadow: 2px 8px 10px 2px rgba(0,0,0,0.3);
}

.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
// Boilerplate stuff

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button ~ button {
  margin-left: 20px;
}